{% extends "entete.html.twig" %}
{% block content %}

{# templates/rp/ajouter.html.twig #}

<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>Ajouter Stage</title>
</head>
<body>
<div class="container">
	<br>
    <center><h1>Nouvelle réalisation professionnelle</h1></center>
       <br> 
       <div class="alert " role="alert">
			{{ form_start(form) }}
				<div class="form-row">
					<label>Libellé</label>
					{{ form_widget(form.libcourt, {'attr': {'class': 'form-control'}})}}
				</div><br>

				<div class="form-row">
					<label>Besoin</label>
					{{ form_widget(form.besoin, {'attr': {'class': 'form-control'}})}}
				</div><br>

					<div class="alert alert-light" role="alert">
						<div class="form-row">
	    					<div class="form-group col-md-3">
								<label>Localisation</label>
								{{ form_widget(form.localisation, {'attr': {'class': 'form-control'}})}}
							</div>
							<div class="form-group col-md-3">
								<label>Source</label>
								{{ form_widget(form.source, {'attr': {'class': 'form-control'}})}}
							</div><br>
						
							<div class="form-group col-md-3">
								<label>Cadre</label>
								{{ form_widget(form.cadre, {'attr': {'class': 'form-control'}})}}
							</div>

							<div class="form-group col-md-3">
								<label>Niveau</label>
								{{ form_widget(form.niveau, {'attr': {'class': 'form-control'}})}}
							</div>
						</div><br>
							

						<div class="form-row">
							<div class="form-group col-md-6">
								<label>Date de début</label>
								{{ form_widget(form.dateDebut, {'attr': {'class': 'form-control'}})}}
							</div><br>

							<div class="form-group col-md-6">
								<label>Date de fin</label>
								{{ form_widget(form.dateFin, {'attr': {'class': 'form-control'}})}}
							</div>
						</div><br>
					</div>

				<div class="form-row">
					<label>Environnement</label>
					{{ form_widget(form.environnement, {'attr': {'class': 'form-control'}})}}
				</div><br>

				<div class="form-row">
					<label>Moyens</label>
					{{ form_widget(form.moyen, {'attr': {'class': 'form-control'}})}}
				</div><br>
				<center><div class="col-12">
					{{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-secondary'}})}}
				</div></center>
					{{ form_end(form) }}
				<div class="col-12">
				</div>
			</div>
		</div>
	</body>
</html>
{% endblock %}