{% extends "entete.html.twig" %}
{% block content %}

<!DOCTYPE html> 
  
<html> 
  
<head> 
    <title>JavaScript variables in jQuery slectors</title> 
  
    
</head> 





<body>
<div class="container">
    <center><h1>Ajouter une activité</h1></center>
       <br> 
       <div class="form-group col-md-12">
			{{ form_start(form) }}
            <div >
                <label id="activites" name="activites">
                {{ form_widget(form.activite)}}
                </label>    
            </div>
            
        
        </div> 
        <br>
        <div id="competences" name="competences">


        </div>

        <p id="demo"></p>




{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity= "sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" 
            crossorigin="anonymous"> 
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>     

                                                            
                {# $( "#competences" ).text('{% for Competence in pCompetences %}');
                $( "#competences" ).append('{% if Competence.activite.id ==  '1'  %}');
                $( "#competences" ).append("<ul> <li>" + '{{ Competence.libelle}}' + "</li> </ul>");
                $( "#competences" ).append('{% endif %}');
                $( "#competences" ).append('{% endfor %}');
 
            
                //$( "#competences" ).append(numeroption); #}



<script>
    jQuery( document ).ready(function( $ ) {
        $("#activites").change(function () {
            $( "select option:selected" ).each(function() {
                });
                var numeroption = $(this).find(':selected').attr('value');
                $('#competences').text("");

            $.ajax({
                type: "post",
                url: '{{ path('test2') }}',
                data: { numeroption : numeroption },
                dataType: "json",
                
                success: function (json) {

                console.log(json);
                $.each(json, function (index, value) {

                    //console.log(value);
                    $('#competences').append("<ul> <li>"+value);
                });
            },
                error: function(jxh,textmsg,errorThrown){
                    console.log(textmsg);
                    console.log(errorThrown);
                }
            });
        });
    });
 
 
</script>

{% endblock %}






            <br>
              <div class="form-group col-md-12">
								<label>Commentaire</label>
								{{ form_widget(form.commentaire, {'attr': {'class': 'form-control'}})}}
							</div>

            <center>
            <div class="col-12">
					    {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-secondary'}})}}
			      </div>
            </center>
			</div>    
</div>

</body>
</html>

{% endblock %}