{% extends "entete.html.twig" %}
{% block content %}
{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
{% endfor %}
{% if app.user.etudiant.id == pEtudiant.id %}
<style>
	p.warning{
		font-size: 12px;
		color: red;
	}
</style>
<body>
<div class="container"><br>
	<p></p><center><h1>Réalisation professionnelle</h1></center><p></p>
				<table class="table" id="table" data-toggle="BootstrapTable" data-height="460">
				  <thead>
				    <tr>
                      <th scope="col" data-sortable="true">Source</th>
				      <th scope="col" data-sortable="true">Libellé</th>
				      <th scope="col" data-sortable="true">Nombre d'activités</th>
				      <th scope="col" data-sortable="true">Statut</th>
				      <th scope="col" data-sortable="true">Date</th>
				      <th></th>
				    </tr>
				  </thead>
				  <tbody>
					{% for RP in pRP %}
				    <tr>
                    <td>{{ RP.source.libelle }}</td> 
				      <td><a class="text" href="{{ path('rpConsulter', { 'rp_id': RP.id }) }}">{{ RP.libcourt }}</a></td>
				      <td>{{ RP.activites.count }}</td> 

				       <td>{{ RP.statut.libelle }}</td>		   
					 
				      <td>{{ RP.dateDebut|date("d/m/Y") }}</td>
						<td><a href="{{ path('rpRestore', {'rp_id': RP.id}) }}">Restaurer</a></td>
						<td><a href="{{ path('rpDelete', {'rp_id': RP.id}) }}">Supprimer</a></td>
				    </tr>
				    {% endfor %}
				  </tbody>
				</table>
				<br>
				<center><p class='warning'> Attention toute suppression est définitive !</p></center>
</body>
{% else %}
<br>
<center><p>Hop, tu ne peux pas voir les archives de tes collègues ! <a href="{{ path('rpListerArchiver', { 'etudiant_id': app.user.etudiant.id }) }}">Et voilà tes archives sont ici !</p></center>
{% endif %}
{% endblock %}

