{% extends "entete.html.twig" %}
{% block content %}
<body>
<div class="container"><br>
	<center><h1>Réalisations professionnelles archivées</h1><br></center>
				<table class="table" id="table" data-toggle="BootstrapTable" data-height="460">
				  <thead>
				    <tr>
                      <th scope="col" data-sortable="true">Source</th>
				      <th scope="col" data-sortable="true">Libellé</th>
				      <th scope="col" data-sortable="true">Nombre d'activités</th>
				      <th scope="col" data-sortable="true">Statut</th>
				      <th scope="col" data-sortable="true">Date</th>
				      <th></th>
				    </tr>
				  </thead>
				  <tbody>
					{% for RP in pRP %}
				    <tr>
                    <td>{{ RP.source.libelle }}</td> 
				      <td><a class="text" href="{{ path('rpConsulter', { 'rp_id': RP.id }) }}">{{ RP.libcourt }}</a></td>
				      <td>{{ RP.activites.count }}</td> 

				       <td>{{ RP.statut.libelle }}</td>		   
					 
				      <td>{{ RP.dateDebut|date("d/m/Y") }}</td>
					  <td><a href="{{ path('rpRestore', {'rp_id': RP.id}) }}"><span title="Cliquer pour restorer">📎</span></a></td>
					<td><a data-toggle="modal" data-target="#ModalDelete"><span title="Cliquer pour supprimer">❌</span></a></td>
				    </tr>
					<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="ModalDeleteLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="ModalDeleteLabel">Confirmation</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							Etes-vous sûr de vouloir supprimer votre RP ?
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
							<button type="button" class="btn btn-primary" href="{{ path('rpDelete', {'rp_id': RP.id}) }}">Oui</button>

						</div>
						</div>
					</div>
					</div>
				    {% endfor %}
				  </tbody>
				</table>
				<br>
		<br><br>
</body>
</html>
{% endblock %}

