{% extends "entete.html.twig" %}
{% block content %}
<body>
<div class="container">
  <br><center><h1>Réalisation professionnelle</h1></center><br><br> 
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #DDDDDD;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('rpConsulter', { 'rp_id': pRP.id }) }}"> Description </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('rpConsulterActivite', { 'rp_id': pRP.id }) }}"> Activités </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('rpConsulterProduction', { 'rp_id': pRP.id }) }}"> Production </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{{ path('rpConsulterCommentaire', { 'rp_id': pRP.id }) }}"> Commentaire </a>
      </li>
    </ul>
  </div>
</nav><br>


{% for commentaire in pRP.commentaire %}
<div class="alert alert-dark" role="alert">
  
  <h4><span class="badge bg-secondary">{{ commentaire.dateCommentaire|date("d/m/Y") }}</span> {{ commentaire.enseignant.nom }} </h4>
       
    <div class="alert" role="alert">
      {{ commentaire.commentaire }}
    </div>
</div>
{% endfor %}


<br>
<center>
  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
    <option selected>Notifier un professeur</option>   
    <option value="ANNOUCHE">ANNOUCHE</option>
    <option value="GUERINET">GUERINET</option>
    <option value="MAILHE">MAILHE</option>     
    <option value="NGO">NGO</option> 
    <option value="VIGOT">VIGOT</option>       
  </select>
  <a href=""><button type="button" class="btn btn-secondary btn-sm">Notifier</button></a>
</center>




<br>
</div>
</body>
</html>
{% endblock %}