{% extends "entete.html.twig" %}
{% block content %}
<body>
<div class="container">
  <br>
    <center><h1>Réalisation professionnelle</h1><br></center>
       <br>        
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #DDDDDD;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <center><div class="collapse navbar-collapse" id="navbarNav">
   <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="#"> Description </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('rpConsulterActivite', { 'rp_id': pRP.id }) }}"> Activités </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('rpConsulterProduction', { 'rp_id': pRP.id }) }}"> Production </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('rpConsulterCommentaire', { 'rp_id': pRP.id }) }}"> Commentaire </a>
      </li>
	  {% if is_granted('ROLE_ENSEIGNANT') %}
	  <li class="nav-item">
        <a class="nav-link" href="{{ path('rpAjouterCommentaire', { 'rp_id': pRP.id }) }}"> Ajouter un commentaire </a>
      </li>
	  {% endif %}
    </ul>
  </div></center>
</nav>

<div class="container">

    
       <br> 
       <div class="alert " role="alert">
			{{ form_start(form) }}
				<div class="form-row">
					<label>Libellé</label>
					{{ form_widget(form.libcourt, {'attr': {'class': 'form-control'}})}}
				</div><br>

				<div class="form-row">
					<label>Besoin</label>
					{{ form_widget(form.besoin, {'attr': {'class': 'form-control'}})}}
				</div><br>

					<div class="alert alert-light" role="alert">
						<div class="form-row">
	    					<div class="form-group col-md-3">
								<label>Localisation</label>
								{{ form_widget(form.localisation, {'attr': {'class': 'form-control'}})}}
							</div>
							<div class="form-group col-md-3">
								<label>Source</label>
								{{ form_widget(form.source, {'attr': {'class': 'form-control'}})}}
							</div><br>
						
							<div class="form-group col-md-3">
								<label>Cadre</label>
								{{ form_widget(form.cadre, {'attr': {'class': 'form-control'}})}}
							</div>

							<div class="form-group col-md-3">
								<label>Niveau</label>
								{{ form_widget(form.niveau, {'attr': {'class': 'form-control'}})}}
							</div>
						</div><br>
							

						<div class="form-row">
							<div class="form-group col-md-6">
								<label>Date de début</label>
								{{ form_widget(form.dateDebut, {'attr': {'class': 'form-control'}})}}
							</div><br>

							<div class="form-group col-md-6">
								<label>Date de fin</label>
								{{ form_widget(form.dateFin, {'attr': {'class': 'form-control'}})}}
							</div>
						</div><br>
					</div>

				<div class="form-row">
					<label>Environnement</label>
					{{ form_widget(form.environnement, {'attr': {'class': 'form-control'}})}}
				</div><br>

				<div class="form-row">
					<label>Moyens</label>
					{{ form_widget(form.moyen, {'attr': {'class': 'form-control'}})}}
				</div><br>
				<center><div class="col-12">
					{{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-secondary'}})}}
				</div></center>
					{{ form_end(form) }}
				<div class="col-12">
				</div>
			</div>
		</div>

</div>
</body>
</html>
{% endblock %}