{% extends "entete.html.twig" %}
{% block content %}
{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
<body>
<div class="container">
 <p></p><center><h1>Réalisation professionnelle</h1></center><p></p>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #DDDDDD;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('rpConsulter', { 'rp_id': pRP.id }) }}"> Description </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('rpConsulterActivite', { 'rp_id': pRP.id }) }}"> Activités </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('rpConsulterProduction', { 'rp_id': pRP.id }) }}"> Production </a>
      <li class="nav-item">
        <a class="nav-link active" href="{{ path('rpConsulterCommentaire', { 'rp_id': pRP.id }) }}"> Commentaire</a>
      </li>
	</ul>
	  {% if is_granted('ROLE_ENSEIGNANT') %}
        <a class="nav-link text-right text-info" data-toggle="modal" data-target="#ModalVisee">Viser la réalisation </a>
	  {% endif %}
  </div></center>
</nav>

<div class="modal fade" id="ModalVisee" tabindex="-1" role="dialog" aria-labelledby="ModalViseeLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="ModalViseeLabel">Confirmation</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<center>
						<div class="modal-body">
							Etes-vous sur de viser la RP ?
						</div>
						</center>
						<div class="modal-footer">
							<a type="button" class="btn btn-secondary" data-dismiss="modal">Non</a>
							<a type="button" class="btn btn-success text-white" href="{{ path('viseRP', { 'rp_id': pRP.id })  }}">Oui</a>
						</div>						
						</div>
					</div>
</div><br>




{% if is_granted('ROLE_ENSEIGNANT') %}
<div class="container">
{% if pRP.enseignant.id == app.user.enseignant.id %}
  <div class="form-group col-md-12">
			{{ form_start(formAjouter) }}
            <div>
                <label>Commentaire</label> 
                {{ form_widget(formAjouter.commentaire, {'attr': {'class': 'form-control'}})}}  
            </div><br>
            <center><div class="col-12">
					{{ form_widget(formAjouter.enregistrer, {'attr': {'class': 'btn btn-secondary'}})}}
				</div></center>
			</div>    
</div><br>{% endif %}{% endif %}
{% for commentaire in pRP.commentaire %}
<div class="alert alert-dark" role="alert">
  
  <h4><span >{{ commentaire.dateCommentaire|date("d/m/Y") }}</span> | {{ commentaire.enseignant.prenom }}  {{ commentaire.enseignant.nom }} 
  {% if is_granted('ROLE_ENSEIGNANT') %}
  		<td><a href="{{ path('rpModifierCommentaire', {'commentaire_id': commentaire.id}) }}"><span title="Cliquer pour modifier">📝</span></a>
		<td><a class="nav-link text-right text-info" data-toggle="modal" data-target="#ModalSupprComm"><span title="Cliquer pour supprimer">❌</span></a>

		<div class="modal fade" id="ModalSupprComm" tabindex="-1" role="dialog" aria-labelledby="ModalSupprCommLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="ModalSupprComm">Confirmation</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<center>
						<div class="modal-body">
							Voulez-vous supprimer ce commentaire ?
						</div>
						</center>
						<div class="modal-footer">
							<a type="button" class="btn btn-secondary" data-dismiss="modal">Non</a>
							<a type="button" class="btn btn-danger text-white" href="{{ path('rpDeleteCommentaire', { 'commentaire_id': commentaire.id })  }}">Oui</a>
						</div>						
						</div>
					</div>
{% endif %}
  </h4>
       
    <div class="alert" role="alert">
      {{ commentaire.commentaire }}
    </div>
</div>
{% endfor %}
<br>
{% if is_granted('ROLE_ENSEIGNANT') %}
{% else %}
<center>
  <div class="alert " role="alert">
			{{ form_start(formSoumettre) }}
				<div class="form-row">
					<label>Informer un enseignant</label>
					{{ form_widget(formSoumettre.enseignant, {'attr': {'class': 'form-control'}})}}
				</div><br>
				<center><div class="col-12">
					{{ form_widget(formSoumettre.enregistrer, {'attr': {'class': 'btn btn-secondary'}})}}
				</div></center>
					{{ form_end(formSoumettre) }}
				<div class="col-12">{% endif %}
</center>




<br>
</div>
</body>
</html>
{% endblock %}