{% extends "entete.html.twig" %}
{% block content %}
<body>
<div class="container">
  <br>
    <center><h1>Réalisation professionnelle</h1><br></center>
       <br>        
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #DDDDDD;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="#"> Description </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> Activités </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> Reformulation </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> Production </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('rpConsulterCommentaire', { 'rp_id': pRP.id }) }}"> Commentaire </a>
      </li>
    </ul>
  </div>
</nav>

<form>
  <div class="form-group">
    <table>
      <tr>
        <td width="100%">
          <label for="formGroupExampleInput">Libellé*</label><br>
          {{pRP.libcourt}}
        </td>
      </tr>
    </table>
  </div>


  <div class="form-group">
    <table>
      <tr>
        <td width="100%">
          <label for="formGroupExampleInput2">Contexte</label>
          <br>
          {{pRP.contexte}}
        </td>
      </tr>
    </table>
  </div>


  <div class="form-group">
    <table>
      <tr>
        <td width="100%">
          <label for="formGroupExampleInput3">Définition du besoin</label>
          <br>
         {{pRP.descriptif}}
        </td>
        
      </tr>
    </table>
  </div>
</form>

<br><br>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
  <form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="localisation">Localisation</label>
      <br>
      {{pRP.localisation.libelle}}
    </div>
    <div class="form-group col-md-4">
      <label for="source">Source</label>
      <br>
      {{pRP.source.libelle}}
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="source">Cadre</label>
      <br>
      {{pRP.cadre.libelle}}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="debut">Debut</label>
      <br>
      {{pRP.dateDebut|date("d/m/Y")}}
    </div>
    <div class="form-group col-md-6">
      <label for="fin">Fin</label>
      <br>
      {{pRP.dateFin|date("d/m/Y")}}
    </div>
  </div>
</form>
  </div>
</div>

<br>

<form>
  <div class="form-group">
    <label for="env_tech">Env.tech</label>
    <br>
    {{pRP.environnement}}
  </div>
  <div class="form-group">
    <label for="moyens">Moyens</label>
    <br>
    {{pRP.moyen}}
  </div>
</form>

</div>
</body>
</html>
{% endblock %}