{% extends "entete.html.twig" %}{# appelle l'entête (logo + menu déroulant) #}
{% block content %}
<body>
<div class="container">
 <p></p><center><h1>Réalisation professionnelle</h1></center><p></p>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #DDDDDD;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
	<ul class="navbar-nav">{# barre de navigation propre au RP #}
	  <li class="nav-item">
		<a class="nav-link" href="{{ path('rpConsulter', { 'rp_id': pRP.id }) }}"> Description </a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link " href="{{ path('rpConsulterActivite', { 'rp_id': pRP.id }) }}"> Activités </a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link active" href="{{ path('rpConsulterProduction', { 'rp_id': pRP.id }) }}"> Production </a>
	  </li>
	  <li class="nav-item">
        <a class="nav-link" href="{{ path('rpConsulterCommentaire', { 'rp_id': pRP.id }) }}"> Commentaire</a>
      </li>
	  <li class="nav-item">
			<a class="nav-link" href="{{ path('rpPDF', { 'rp_id': pRP.id }) }}"> Générer PDF</a>
		</li>
	</ul>
	  {% if is_granted('ROLE_ENSEIGNANT') %}{# si l'utilisateur connecté possède le rôle enseignant #}
        <a class="nav-link text-right text-info" data-toggle="modal" data-target="#ModalVisee">Viser la réalisation </a>{# bouton pour valider une RP  #}
	  {% endif %}
  </div></center>
</nav>

<div class="modal fade" id="ModalVisee" tabindex="-1" role="dialog" aria-labelledby="ModalViseeLabel" aria-hidden="true">{# pop-up pour confirmer la validation  #}
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="ModalViseeLabel">Confirmation</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<center>
						<div class="modal-body">
							Etes-vous sur de viser la RP ?
						</div>
						</center>
						<div class="modal-footer">
							<a type="button" class="btn btn-secondary" data-dismiss="modal">Non</a>
							<a type="button" class="btn btn-success text-white" href="{{ path('viseRP', { 'rp_id': pRP.id })  }}">Oui</a>
						</div>						
						</div>
					</div>
					</div>
					{% if is_granted('ROLE_ENSEIGNANT') %}{# si l'utilisateur connecté possède le rôle enseignant #}
					{% else %}
<center><br><a href="{{ path('ajouterProductionRP', { 'rp_id': pRP.id }) }}"><input type="button" value="Ajouter une nouvelle production" class="btn btn-secondary btn-sl"></a></center><br>
{% endif %}

<table class="table" id="table" data-toggle="BootstrapTable" data-height="460">
				  <thead>
				    <tr>
				      <th scope="col" data-sortable="true">Designation</th>
				      <th scope="col" data-sortable="true">URL</th>
					  <th></th>
					  <th></th>
				    </tr>
				  </thead>
				  <tbody>
					{% for RPProduction in pRPProduction %}				
				    <tr>
				    	<td>{{ RPProduction.designation }}</td>
						<td>{{ RPProduction.url }}</td> 
						{% if is_granted('ROLE_ENSEIGNANT') %}{# si l'utilisateur connecté possède le rôle enseignant #}
					{% else %}
						<td><a href="{{ path('rpModifierProduction', {'production_id': RPProduction.id}) }}"><span title="Cliquer pour modifier">📝</span></a>
						<td><a href="{{ path('rpDeleteProduction', {'production_id': RPProduction.id}) }}"><span title="Cliquer pour supprimer">❌</span></a>
				    	{% endif %}
					</tr>
				  </tbody>
				  {% endfor %}
				</table>

</body>
{% endblock %}