{# liste les RP de l'étudiant connecté #}
{% extends "entete.html.twig" %}{# appelle l'entête (logo + menu déroulant) #}
{% block content %}
{% for message in app.flashes('success') %}{# affichera un message de succès si l'action est réussie #}
            <div class="alert alert-success">
                {{ message }}
            </div>
{% endfor %}
{% if app.user.etudiant.id == pEtudiant.id %}{# vérifie que la page appartient bien à l'étudiant connecté #}
<body>
<div class="container">
	<p></p><center><h1>Réalisation professionnelle</h1></center><p></p>
	{% if is_granted('ROLE_ENSEIGNANT') %}{# si l'utilisateur connecté possède le rôle enseignant #}
	{% else %}
		<center><a href="{{ path('rpAjouter', { 'etudiant_id': app.user.etudiant.id }) }}"><input type="button" value="Ajouter une nouvelle réalisation professionnelle" class="btn btn-secondary btn-sl"></a></center><br>
		{% endif %}
				<table class="table" id="table" data-toggle="BootstrapTable" data-height="460">
				  <thead>
				    <tr>
					<th scope="col" data-sortable="true">Source</th>
				      <th scope="col" data-sortable="true">Libellé</th>
				      <th scope="col" data-sortable="true">Nombre d'activités</th>
					  <th scope="col" data-sortable="true">Statut</th> 
				      <th scope="col" data-sortable="true">Date</th>
				      <th></th>
				    </tr>
				  </thead>
				  <tbody>
				  	

					{% for RP in pRP %}
					
					
				    <tr>
					  <td>{{ RP.source.libelle }}</td>
				      <td><a class="text" href="{{ path('rpConsulter', { 'rp_id': RP.id }) }}">{{ RP.libcourt }}</a></td>
				      <td>{{ RP.activites.count }}</td>
					  <td>{{ RP.statut.libelle }}</td>
				      <td>{{ RP.dateDebut|date("d/m/Y") }}</td>
				      <td><a href="{{ path('rpArchivage', { 'rp_id': RP.id }) }}"><span title="Cliquer pour archiver">📁</span></a>
				      </td>
				    </tr>
				    {% endfor %}
				    </tbody>
				</table>
				<br>


		<br><br>
</body>
{% else %}{# si la page n'appartient pas à l'étudiant connecté, un message s'affiche et bloque l'affichage #}
<br>
<center><p>Dommage c'est pas ta liste de réalisations professionnelles ! <a href="{{ path('etudiantListerLesRP', { 'etudiant_id': app.user.etudiant.id }) }}">Ta liste c'est par ici !</p></center>
{% endif %}
{% endblock %}