{% extends "entete.html.twig" %}
{% block content %}
<body>
<div class="container">
	<p></p><center><h1>Réalisation professionnelle</h1></center><p></p>
				{{ form_start(form) }}
            <div class="">
                <label id="promotion" name="promotion">
                {{ form_widget(form.id)}}
                </label> 
            </div><br>


{% block javascripts %}
						<script src="https://code.jquery.com/jquery-3.4.1.js"
									integrity= "sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" 
									crossorigin="anonymous"> 
						</script>
						<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
						<script>
							jQuery( document ).ready(function( $ ) {
								$("#promotion").change(function () {
									$( "select option:selected" ).each(function() {
										});
										var numeroption = $(this).find(':selected').attr('value');
										$('#table tbody').empty();
										$('#test').text("");

									$.ajax({
										type: "post",
										url: '{{ path('afficherRPPromo') }}',
										data: { numeroption : numeroption },
										dataType: "json",
										
										success: function (json) {

										$.each(json, function (index, value) {

											//console.log(value);

											
											$('#table').append('<tbody class="table" id="table" data-toggle="BootstrapTable" data-height="460"><tr><td>'+value.nom+' '+value.prenom+'</td><td>'+value.source+'</td><td><a class="text" href="{{ path("rpConsulter", { "rp_id": "value.id" }) }}">'+value.libcourt+'</a></td><td>'+value.activites+'</td><td>'+value.date+'</td></tr></tbody></table>');
					  

										});
										},
										error: function(jxh,textmsg,errorThrown){
											console.log(textmsg);
											console.log(errorThrown);
										}
									});
								});
							});
						
						
						</script>

						{% endblock %}



<div id="test" name="test">

        

        </div>

                <table class="table" id="table" data-toggle="BootstrapTable" data-height="460">
				  <thead>
				    <tr>
					<th scope="col" data-sortable="true">Etudiant</th>
					  <th scope="col" data-sortable="true">Source</th>
				      <th scope="col" data-sortable="true">Libellé</th>
				      <th scope="col" data-sortable="true">Nombre d'activités</th>
				      <th scope="col" data-sortable="true">Date</th>
					</tr>
				  </thead>
				  <tbody>
					



					{% for RP in pRP %}
				    <tr>
					<td id="nomprenom">{{ RP.etudiant.nom }} {{RP.etudiant.prenom}}</a></td>
					  <td id="source">{{ RP.source.libelle }}</td>
				      <td id="libelle"><a class="text" href="{{ path('rpConsulter', { 'rp_id': RP.id }) }}">{{ RP.libcourt }}</a></td>
				      <td id="activites">{{ RP.activites.count }}</td> 
				      <td id="date">{{ RP.dateDebut|date("d/m/Y") }}</td>
				    </tr>
				    {% endfor %}




				  </tbody>
				</table>
				<br>
		<br><br>
</body>
</html>
{% endblock %}