{# met sous la forme d'un PDF la page consulter une RP #}
{% if is_granted('ROLE_ENSEIGNANT') %}{# si l'utilisateur connecté possède le rôle enseignant #}
  <html>
      <head>
          <meta charset="UTF-8">
          <title>Réalisation_{{pRP.id}}_{{pRP.etudiant.nom}}_{{pRP.etudiant.prenom}}</title>
      </head>
<style>

  table {
      border-width:1px; 
      border-style:solid; 
      border-color:#ccc;
      border-collapse:collapse;
      table-layout: fixed;
      width: 100%;
  }
  th { 
      border-width:1px;
      border-style:solid; 
      border-color:#ccc;
      
  }
  td { 
      border-width:1px;
      border-style:solid; 
      border-color:#ccc;
  }
</style>
      <body>
        <center>
        <p>REALISATION: <b>{{pRP.libcourt}}</b></p>
        <p>faite par <b>{{pRP.etudiant.nom}} {{pRP.etudiant.prenom}}</b></p>
        <p>du <b>{{pRP.dateDebut|date('d/m/Y')}}</b> au <b>{{pRP.dateFin|date('d/m/Y')}}</b></p>
        </center>
        <br>
        <div class="style">
            <p><b>Besoin:</b> {{pRP.besoin}}</p>
            <p><b>Localisation:</b> {{pRP.localisation.libelle}}</p>
            <p><b>Source:</b> {{pRP.source.libelle}}</p>
            <p><b>Cadre:</b> {{pRP.cadre.libelle}}</p>
            <p><b>niveau:</b> {{pRP.niveau.libelle}}</p>
            <p><b>Environnement:</b> {{pRP.environnement}}</p>
            <p><b>Moyens:</b> {{pRP.moyen}}</p>
        </div>
      
      <center>
        <h3>Activité(s)</h3>
      </center>
      <table>
		<thead>
		    <tr>
			<th style="width:10%">Code</th>
		    <th>Libellé</th>
            <th>Commentaire</th>
		    </tr>
		</thead>
		<tbody>
            {% for RPactivite in pRPActivite %}				
			<tr>
		    	<td>{{ RPactivite.activite.code }}</td>
				<td>{{ RPactivite.activite.libelle }}</td> 
			    <td>{{ RPactivite.commentaire }}</td>
			</tr>
            {% endfor %}
		</tbody>
	   </table>

       <center>
        <h3>Production(s)</h3>
      </center>
      <table>
		<thead>
		    <tr>
		    <th>Designation</th>
            <th>URL</th>
		    </tr>
		</thead>
		<tbody>
            {% for production in pProductions %}				
			<tr>
		    	<td>{{ production.designation }}</td>
				<td>{{ production.adresse }}</td> 
			</tr>
            {% endfor %}
		</tbody>
	   </table>
    </body>
  </html>
{% else %}
    {% if app.user.etudiant.id == pRP.etudiant.id %}
        <html>
      <head>
          <meta charset="UTF-8">
          <title>Réalisation_{{pRP.id}}_{{pRP.etudiant.nom}}_{{pRP.etudiant.prenom}}</title>
      </head>
      <style>

  table {
      border-width:1px; 
      border-style:solid; 
      border-color:#ccc;
      border-collapse:collapse;
      table-layout: fixed;
      width: 100%;
  }
  th { 
      border-width:1px;
      border-style:solid; 
      border-color:#ccc;
      
  }
  td { 
      border-width:1px;
      border-style:solid; 
      border-color:#ccc;
  }
</style>
      <body>
        <center>
        <p>REALISATION: <b>{{pRP.libcourt}}</b></p>
        <p>faite par <b>{{pRP.etudiant.nom}} {{pRP.etudiant.prenom}}</b></p>
        <p>du <b>{{pRP.dateDebut|date('d/m/Y')}}</b> au <b>{{pRP.dateFin|date('d/m/Y')}}</b></p>
        </center>
        <br>
        <p><b>Besoin:</b> {{pRP.besoin}}</p>
        <p><b>Localisation:</b> {{pRP.localisation.libelle}}</p>
        <p><b>Source:</b> {{pRP.source.libelle}}</p>
        <p><b>Cadre:</b> {{pRP.cadre.libelle}}</p>
        <p><b>niveau:</b> {{pRP.niveau.libelle}}</p>
        <p><b>Environnement:</b> {{pRP.environnement}}</p>
        <p><b>Moyens:</b> {{pRP.moyen}}</p>

      
      <center>
        <h3>Activité(s)</h3>
      </center>
      <table>
		<thead>
		    <tr>
			<th style="width:10%">Code</th>
		    <th>Libellé</th>
            <th>Commentaire</th>
		    </tr>
		</thead>
		<tbody>
            {% for RPactivite in pRPActivite %}				
			<tr>
		    	<td>{{ RPactivite.activite.code }}</td>
				<td>{{ RPactivite.activite.libelle }}</td> 
			    <td>{{ RPactivite.commentaire }}</td>
			</tr>
            {% endfor %}
		</tbody>
	   </table>

       <center>
        <h3>Production(s)</h3>
      </center>
      <table>
		<thead>
		    <tr>
		    <th>Designation</th>
            <th>URL</th>
		    </tr>
		</thead>
		<tbody>
            {% for production in pProductions %}				
			<tr>
		    	<td>{{ production.designation }}</td>
				<td>{{ production.adresse }}</td> 
			</tr>
            {% endfor %}
		</tbody>
	   </table>
    </body>
  </html>
    {% else %}
        <center><p>Encore un échec jeune hackeur en herbe ! <br><a href="{{ path('etudiantListerLesRP', { 'etudiant_id': app.user.etudiant.id }) }}">Abandonne maintenant.</p><br>

        </center>
	{% endif %}
    {% endif %}