{% extends "entete.html.twig" %}{# appelle l'entête (logo + menu déroulant) #}
{% block content %}
<style>
input[type=checkbox]{
	transform: scale(1.5);
}
p.nowrap{
	white-space: nowrap;
}
</style>
<body>
	<br>
	<div class="container">
		{{ form_start(form) }}{# appelle un formulaire servant à choisir une promotion pour récupérer des élèves#}
		<p class="nowrap">Afficher les élèves appartenant à la promotion 
		<label id="promotion" name="promotion" >
			{{ form_widget(form.id, {'attr': {'class': 'form-control'}})}}
		</label></p>
		{{ form_end(form)}}
		<br>
		{% block javascripts %}{# fonction jquery/AJAX récuperant les élèves associés à la promo sélectionnée #}
			<script src="https://code.jquery.com/jquery-3.4.1.js" integrity= "sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
			<script>
				jQuery( document ).ready(function( $ ) {
					
					$('body').on('click', '#selectAll', function () {
						if ($(this).hasClass('allChecked')) {
							$('input[type="checkbox"]', '#table').prop('checked', false);
						} else {
							$('input[type="checkbox"]', '#table').prop('checked', true);
						}
						$(this).toggleClass('allChecked');
					})
					
					$("#promotion").change(function () {
						$( "select option:selected" ).each(function() {
						});
					var numeroption = $(this).find(':selected').attr('value');
					var str = "Accéder au compte";
					var str1 = "Aucun compte associé";
					$("#table tbody").empty();
					$.ajax({
						type: "post",
						url: '{{ path('afficherEtudiantPromo') }}',
						data: { numeroption : numeroption },
						dataType: "json",
							success: function (json) {
								$.each(json, function (index, value) {
									if(value.user_id == null){
										var result = str1;
									}
									else{
										var result = str.link("ConsulterEtudiantAdmin/"+value.user_id+"");
									}
									$('#table').append('<tbody class="table" id="table" data-toggle="BootstrapTable" data-height="460"><tr><td><input type="checkbox" id="selectPromo" name='+value.id+'></input></td><td>'+value.nom+' '+value.prenom+'</td><td>'+value.username+'</td><td>'+result+'</td></tr></tbody></table>');
									});
								},
								error: function(jxh,textmsg,errorThrown){
									console.log(textmsg);
									console.log(errorThrown);
								}
						});
					});

					$("#Affecter").click(function () {
						var selected = [];
							$('#checkboxes input:checked').each(function() {
								selected.push($(this).attr('name'));
							});
						var numeroPromo = $("#promo").find(':selected').attr('value');
						var selectedString = JSON.stringify(selected);

						$.ajax({
						type: "post",
						url: '{{ path('DeplacerPromo') }}',
						data: { numeroPromo : numeroPromo, selectedString : selectedString },
						dataType: "json",
						success: function (json) {
									$.each(json, function (index, value) {
									
									});
									location.reload();
									
						},
								
						error: function(jxh,textmsg,errorThrown){
									console.log(textmsg);
									console.log(errorThrown);
								}
						});
					})

				});
			</script>
		{% endblock %}
	<div id="checkboxes">
		<table class="table" id="table" data-toggle="BootstrapTable" data-height="460">{# tableau affichant les données récupérées par AJAX #}
			<thead>
				<tr>
					<th><input type="checkbox" id="selectAll" class="main" name="0"/></th>
					<th scope="col" data-sortable="true">Etudiant</th>
					<th scope="col" data-sortable="true">Username</th>
					<th></th>
				</tr>
			</thead>
		</table>
		<div id="test">
	</div>
		{{ form_start(formPromo) }}{# appelle un formulaire servant à choisir une promotion dans laquelle les élèves seront déplacés #}
		<p class="nowrap">Les transférer vers la promotion 
		<label id="promo">
			{{ form_widget(formPromo.id, {'attr': {'class': 'form-control'}})}}
		</label> 
		</p>
		{{ form_end(formPromo)}}
		<button type="submit" class="btn btn-secondary" id="Affecter">Affecter</button></p>
	</div>
	</div>
	
</body>
{% endblock %}