{% extends "entete.html.twig" %}
{% block content %}
{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
{% endfor %}
{% if app.user.enseignant.id == pEnseignant.id %}
<div class="container">
<br>
<center> <h2>Coordonnées</h2></center>
	{{ form_start(formEnseignant) }}
	<div class="form-row">
				<div class="col-md-6 mb-3">
					<label>Nom</label>
						{{ form_widget(formEnseignant.nom, {'attr': {'class': 'form-control', readonly:'readonly'}})}}
				</div>

				<div class="col-md-6 mb-3">
					<label>Prénom</label>
						{{ form_widget(formEnseignant.prenom, {'attr': {'class': 'form-control', readonly:'readonly'}})}}
				</div>

	</div>


	<div class="form-row">
					
					<div class="col-md-6 mb-3">
					<label>Mail</label>
						{{ form_widget(formEnseignant.mail, {'attr': {'class': 'form-control'}})}}
					</div>

                    <div class="col-md-6 mb-3">
                        <label>Matière</label>
                            {{ form_widget(formEnseignant.matiere, {'attr': {'class': 'form-control'}})}}
                    </div>
    </div>

					<center><div class="col-12">
						{{ form_widget(formEnseignant.enregistrer, {'attr': {'class': 'btn btn-secondary'}})}}
					</div></center>		
	{{ form_end(formEnseignant) }}			

                    {{ form_start(formMDP) }}
	                <div class="form-row">
				        <div class="col-md-6 mb-3">
					    <label>Changer le mot de passe</label>
						    {{ form_widget(formMDP.password, {'attr': {'class': 'form-control'}})}}
				        <br>
                    <center><div class="col-12">
						{{ form_widget(formMDP.enregistrer, {'attr': {'class': 'btn btn-secondary'}})}}
					</div></center>
                    {{ form_end(formMDP) }}	
	
</div>
{% else %}
<br>
<center><p>Eh bin non tu n'auras pas les informations d'une autre personne ! <a href="{{ path('etudiantConsulter', { 'etudiant_id': app.user.etudiant.id }) }}">Clique ici</p></center>
{% endif %}
{% endblock %}