{% extends "entete.html.twig" %}{# appelle l'entête (logo + menu déroulant) #}
{% block content %}
{% if is_granted('ROLE_ENSEIGNANT') %}{# si l'utilisateur connecté possède le rôle enseignant #}
<body>
<div class="container">
  <p></p>
    <center><h1>Tableau de suivi de stage</h1><p></p></center>
    {% if is_granted('ROLE_ENSEIGNANT') %}{# si l'utilisateur connecté possède le rôle enseignant #}
	  {% else %}
    <center><a href="{{ path('stageAjouter', { 'etudiant_id': app.user.etudiant.id }) }}"><input type="button" value="Ajouter un nouveau stage" class="btn btn-secondary btn-sl"></a></center><br>
      {% endif %}
      <table class="table" id="table" data-toggle="BootstrapTable" data-height="460">
        <thead>
          <tr>
            <th scope="col">Etudiant</th>
            <th scope="col">Entreprise</th>
            <th scope="col">Tuteur</th>
            <th scope="col">Date début</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for stage in pStages %}
            <tr>
              <td>{{stage.etudiant.nom}} {{stage.etudiant.prenom}}</td>
              <td>{{stage.nomentreprise}}</td>
              <td>{{stage.nomtut}}</td>
              <td>{{stage.dateDebut|date('d/m/Y')}}</td>
              <td><a href="{{ path('StageConsulter', { 'stage_id': stage.id }) }}">Carnet de bord</a></td>
            <tr>
          {% endfor %}
        <tbody>
      </table>
    <br>
</body>
{% else %}
  {% if app.user.etudiant.id == pEtudiant.id %}{# vérifie que la page appartient bien à l'étudiant connecté #}
  <body>
  <div class="container">
    <p></p>
      <center><h1>Tableau de suivi de stage</h1><p></p></center>
      {% if is_granted('ROLE_ENSEIGNANT') %}{# si l'utilisateur connecté possède le rôle enseignant #}
      {% else %}
      <center><a href="{{ path('stageAjouter', { 'etudiant_id': app.user.etudiant.id }) }}"><input type="button" value="Ajouter un nouveau stage" class="btn btn-secondary btn-sl"></a></center><br>
        {% endif %}
        <table class="table" id="table" data-toggle="BootstrapTable" data-height="460">
          <thead>
            <tr>
              <th scope="col">Professeur référent</th>
              <th scope="col">Entreprise</th>
              <th scope="col">Tuteur</th>
              <th scope="col">Date début</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for stage in pStages %}
              <tr>
                <td>{{stage.enseignant.prenom}} {{stage.enseignant.nom}}</td>
                <td>{{stage.nomentreprise}}</td>
                <td>{{stage.nomtut}}</td>
                <td>{{stage.dateDebut|date('d/m/Y')}}</td>
                {% if stage.semaineStages|length > 0 %}
                <td><a href="{{ path('StageConsulter', { 'stage_id': stage.id }) }}">Carnet de bord</a></td>
                {% else %}
                <td>Stage non valide</td>
                {% endif %}
              <tr>
            {% endfor %}
          <tbody>
        </table>
      <br>
  </body>
  {% else %}
  <br>
  <center><p>Cela ne te concerne pas ! <a href="{{ path('EtudiantListerStage', { 'etudiant_id': app.user.etudiant.id }) }}">Ta liste c'est par ici !</p></center>
  {% endif %}
{% endif %}
{% endblock %}
