{% extends "entete.html.twig" %}
{% block content %}
<body>
<div class="container">
  <p></p>
    <center><h1>Tableau de suivi de stage</h1><p></p></center>
    {% if is_granted('ROLE_ENSEIGNANT') %}
	  {% else %}
    <center><a href="{{ path('stageAjouter', { 'etudiant_id': 100 }) }}"><input type="button" value="Ajouter un nouveau stage" class="btn btn-secondary btn-sl"></a></center><br>
      {% endif %}
      <table class="table" id="table" data-toggle="BootstrapTable" data-height="460">
        <thead>
          <tr>
            <th scope="col">Entreprise</th>
            <th scope="col">Année</th>
            <th scope="col">Spécialité</th>
          <th scope="col">Adresse</th>
          </tr>
        </thead>
        <tbody>
          {% for stage in pStages %}
            <tr>
              <td>{{stage.nomentreprise}}</td>
              <td>{{stage.dateFin|date('Y')}}</td>
              <td>{{stage.etudiant.promotion.specialite.sigle}}</td>
              <td>{{stage.adrentreprise}}, {{stage.ville}} {{stage.copos}}</td>
            <tr>
          {% endfor %}
        <tbody>
      </table>
    <br>
  </div>
</body>
{% endblock %}