{% extends "entete.html.twig" %}{# appelle l'entête (logo + menu déroulant) #}
{% block content %}
{% if is_granted('ROLE_ENSEIGNANT') %}{# si l'utilisateur connecté possède le rôle enseignant #}
  <body>
  <div class="container">
    <p></p><center><h1>Consultation du stage</h1></center>
    <center><p class="info">Stage de <b>{{pStage.etudiant.prenom}} {{pStage.etudiant.nom}}</b> suivi par <b>{{pStage.enseignant.prenom}} {{pStage.enseignant.nom}}</b></p></center>      
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #DDDDDD;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <center><div class="navbar-collapse text-right" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('StageConsulter', { 'stage_id': pStage.id }) }}">Information</a>
        </li>
        {% for i in 1..pStage.nbsemaine %}
        <li class="nav-item"><a class="nav-link" href="{{ path('ConsulterSemaineStage', { 'semaine_id': (pSemaines[i-1]).id }) }}">Semaine {{ i }}</a></li>
        {% endfor %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('EchangeStage', {'stage_id': pStage.id }) }}">Echange</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('PointageStage', {'stage_id': pStage.id }) }}">Pointage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('PdfAttestation', {'stage_id': pStage.id }) }}">Attestation</a>
        </li>
      </ul>
    </div></center>
    </nav></div>

  <div class="container">
      <table class="table" id="table" data-toggle="BootstrapTable" data-height="460">
          <thead>
              <tr>
                <th scope="col" data-sortable="true">Date</th>
                <th scope="col" datat-sortable="true">Heure (GMT)</th>
                <th scope="col" data-sortable="true">IP</th>
              </tr>
          </thead>
        <tbody>				
              {% for pointages in pPointages %}
              <tr>
                <td>{{ pointages.datepoint|date('d/m/Y') }}</td>
                <td>{{ pointages.heurepoint|date('h:i:s') }}</td>
                <td>{{ pointages.ip }}</td>
              </tr>
              {% endfor %}
          </tbody>
  </body>
{% else %}
  {% if app.user.etudiant.id == pEtudiant.id %}{# vérifie que la page appartient bien à l'étudiant connecté #}
  <body>
  <div class="container">
    <p></p><center><h1>Consultation du stage</h1></center>
    <center><p>Stage de <b>{{pStage.etudiant.prenom}} {{pStage.etudiant.nom}}</b> suivi par <b>{{pStage.enseignant.prenom}} {{pStage.enseignant.nom}}</b></p></center>       
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #DDDDDD;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <center><div class="navbar-collapse text-right" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('StageConsulter', { 'stage_id': pStage.id }) }}">Information</a>
        </li>
        {% for i in 1..pStage.nbsemaine %}
        <li class="nav-item"><a class="nav-link" href="{{ path('ConsulterSemaineStage', { 'semaine_id': (pSemaines[i-1]).id }) }}">Semaine {{ i }}</a></li>
        {% endfor %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('EchangeStage', {'stage_id': pStage.id }) }}">Echange</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('PointageStage', {'stage_id': pStage.id }) }}">Pointage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('PdfAttestation', {'stage_id': pStage.id }) }}">Attestation</a>
        </li>
      </ul>
    </div></center>
    </nav></div>

  <div class="container">
    {{ form_start(form) }}{# appelle un formulaire servant à #}
    <p></p><center>{{ form_widget(form.pointer, {'attr': {'class': 'btn btn-secondary'}})}}</center><p></p>
      <table class="table" id="table" data-toggle="BootstrapTable" data-height="460">
          <thead>
              <tr>
                <th scope="col" data-sortable="true">Date</th>
                <th scope="col" datat-sortable="true">Heure (GMT)</th>
                <th scope="col" data-sortable="true">IP</th>
              </tr>
          </thead>
        <tbody>				
              {% for pointages in pPointages %}
              <tr>
                <td>{{ pointages.datepoint|date('d/m/Y') }}</td>
                <td>{{ pointages.heurepoint|date('h:i:s') }}</td>
                <td>{{ pointages.ip }}</td>
              </tr>
              {% endfor %}
          </tbody>
  </body>
  {% else %}
  <br>
  <center><p>Acces interdit ! <a href="{{ path('EtudiantListerStage', { 'etudiant_id': app.user.etudiant.id }) }}">C'est ici pour toi !</p></center>
  {% endif %}
{% endif %}
{% endblock %}