{% extends "entete.html.twig" %}
{% block content %}
<body>
<div class="container">
	<p></p><center><h1>Consultation du stage</h1></center><p></p>       
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #DDDDDD;">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<center><div class="navbar-collapse text-right" id="navbarNav">
    <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{{ path('StageConsulter', { 'stage_id': pStage.id }) }}">Information
    {% for i in 1..pStage.nbsemaine %}
      <li><a class="nav-link" href="{{ path('ConsulterSemaineStage', { 'semaine_id': (pSemaines[i-1]).id }) }}">Semaine {{ i }} </a></li>
    {% endfor %}
</ul>
</div></div></center>
</nav>
<br>
<div class="container">
    <table class="table" id="table" data-toggle="BootstrapTable" data-height="460">
        <thead>
            <tr>
              <th scope="col" data-sortable="true">Jour</th>
              <th scope="col" datat-sortable="true">Domaine</th>
              <th scope="col" data-sortable="true">Description</th>
            </tr>
        </thead>
        <tbody class="table" id="table" data-toggle="BootstrapTable" data-height="460">
        {{ form_start(formTache) }}				
            <tr>
              <td>{{ form_widget(formTache.jour, {'attr': {'class': 'form-control'}}) }}</td>
              <td>{{ form_widget(formTache.domaine, {'attr': {'class': 'form-control'}}) }}</td>
              <td>{{ form_widget(formTache.description, {'attr': {'class': 'form-control'}}) }}</td>
              <td>{{ form_widget(formTache.ajouter, {'attr': {'class': 'btn btn-secondary'}})}}</td>
            </tr>
        {{ form_end(formTache) }}
        </tbody>


{# {{ pSemaine.numSemaine }} #}
<div class="container">
    <table class="table" id="table" data-toggle="BootstrapTable" data-height="460">
        <tbody>				
            {% for tacheSemaine in pTaches %}
            <tr>
              <td>{{ tacheSemaine.jour.libelle }}</td>
              <td>{{ tacheSemaine.domaine.libelle }}</td>
              <td>{{ tacheSemaine.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<div class="container">
  <div class="alert " role="alert">
  {{ form_start(formSemaine) }}
    <div class="form-row">
      <div class="col-md-12 mb-3">
        <label for="disabledTextInput">Apprentissage</label>
			    {{ form_widget(formSemaine.apprentissage, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="col-md-12 mb-3">
        <label for="disabledTextInput">Bilan</label>
			    {{ form_widget(formSemaine.bilan, {'attr': {'class': 'form-control'}}) }}
      </div>
      <br>
      <div class="col-md-12 md-3">
      <center>{{ form_widget(formSemaine.enregistrer, {'attr': {'class': 'btn btn-secondary'}})}}</center>
      </div>
    </div>
    {{ form_end(formTache) }}
  </div>
</div>
</body>
{% endblock %}