{% extends "entete.html.twig" %}{# appelle l'entête (logo + menu déroulant) #}
{% block content %}
{% for message in app.flashes('success') %}{# affichera un message de succès si l'action est réussie #}
            <div class="alert alert-success">
                {{ message }}
            </div>
{% endfor %}
{% if app.user.etudiant.id == pEtudiant.id %}{# vérifie que la page appartient bien à l'étudiant connecté #}
<div class="container">
<br>
<center> <h2>Coordonnées</h2></center>
	{{ form_start(formEtudiant) }}
	<div class="form-row">
				<div class="col-md-6 mb-3">
					<label>Nom</label>
						{{ form_widget(formEtudiant.nom, {'attr': {'class': 'form-control', readonly:'readonly'}})}}{# zone de sasie gérant le nom, elle est en lecture seule #}
				</div>

				<div class="col-md-6 mb-3">
					<label>Prénom</label>
						{{ form_widget(formEtudiant.prenom, {'attr': {'class': 'form-control', readonly:'readonly'}})}}{# zone de sasie gérant le prénom, elle est en lecture seule #}
				</div>

	</div>
				<div class="form-row">
	<div class="col-md-6 mb-3">
					<label>Date de naissance </label>
						{{ form_widget(formEtudiant.datenaiss, {'attr': {'class': 'form-control'}})}}{# zone de saisie de la date de naissance  #}
	</div><div class="col-md-6 mb-3">
					<label>Adresse personnelle</label>
						{{ form_widget(formEtudiant.adrperso, {'attr': {'class': 'form-control'}})}}{# zone de saisie de l'adresse personnelle  #}
					</div>

	</div>

							<hr class="featurette-divider p-2">

			
	<div class="form-row">
				
					<div class="col-md-6 mb-3">
					<label>Mobile</label>
						{{ form_widget(formEtudiant.mobile, {'attr': {'class': 'form-control'}})}}{# zone de saisie du téléphone  #}
					</div>
					
					<div class="col-md-6 mb-3">
					<label>Mail</label>
						{{ form_widget(formEtudiant.mail, {'attr': {'class': 'form-control'}})}}}{# zone de saisie gérant l'adresse mail #}
					</div>
	</div>
			

					<center><div class="col-12">
						{{ form_widget(formEtudiant.enregistrer, {'attr': {'class': 'btn btn-secondary'}})}}{# bouton de validation #}
					</div></center>
	{{ form_end(formEtudiant) }}
	     {{ form_start(formMDP) }}
		 <br>
	            <div class="form-row">
					<div class="col-md-4 mb-3">
						<label>Ancien mot de passe</label>
  						<input type="password" class="form-control" name="old_password" id="old_password">{# zone de saisie de l'ancien mdp pour changement de mdp  #}
					</div>
				    <div class="col-md-4 mb-3">
					    <span title="Ce mot de passe de 8 caractères minimun doit contenir: une minuscule, une majuscule, un chiffre et un caractère spécial">
							<label>Nouveau mot de passe</label><img src={{ asset("images/info-8x.png") }} height=12>
						</span>
						{{ form_widget(formMDP.password, {'attr': {'class': 'form-control'}})}}{# zone de saisie du nouveau mdp pour changement de mdp  #}
						</div>
					<div class="col-md-4 mb-3">
						<label>Confirmer mot de passe</label>
  						<input type="password" class="form-control" name="new_password" id="new_password">{# zone de saisie de confirmation du nouveau mdp pour changement de mdp  #}
					</div>
				</div>
				<center>
				<div id="message" class="text-danger">
				</div>
				</center>	
				
</div>


{% block javascripts %}{# fonction jquery/JAXA servant à la vérification des critères de changement de mdp #}
						<script src="https://code.jquery.com/jquery-3.4.1.js"
									integrity= "sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" 
									crossorigin="anonymous"> 
						</script>
						<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
						<script>
							jQuery( document ).ready(function( $ ) {
								$("#mdp_modif_password, #new_password, #old_password").keyup(function () {
									var mdp_modif_password = $("#mdp_modif_password").val();
									var new_password = $("#new_password").val();
									var old_password = $("#old_password").val();
									var user_id = "{{ app.user.id }}";
									
									
									$.ajax({
										type: "post",
										url: '{{ path('MDPModifEtu') }}',
										data: { old_password : old_password, new_password : new_password, mdp_modif_password : mdp_modif_password, user_id : user_id },
										dataType: "json",
										
										success: function (json) {

										$.each(json, function (index, value) {
											if (value.statut == 1){
												$('#message').text('Ancien mot de passe incorrect ou vide');
											}
											else if (value.statut == 2){
												$('#message').text('Nouveau mot de passe non identique ou vide');
											}
											else if (value.statut == 3){
												$('#message').text('mot de passe trop faible');
											}
											else{
												$('#message').html('{{ form_widget(formMDP.enregistrer, {'attr': {'class': 'btn btn-secondary'}})}}{# bouton de validation #}');
											}
										});
										},
										error: function(jxh,textmsg,errorThrown){
											console.log(textmsg);
											console.log(errorThrown);
										}
									});
									
								});
							});
						</script>
{% endblock %}




{% else %}
<br>
<center><p>Eh bin non tu n'auras pas les informations d'une autre personne ! <a href="{{ path('etudiantConsulter', { 'etudiant_id': app.user.etudiant.id }) }}">Clique ici</p></center>
{% endif %}
{% endblock %}